<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\CodeSmithHelper.cs" Inherits="XCodeSmith.CodeSmithHelper" Debug="False" Description="" %>

<%@ Property Name="Application" Type="String" Category="Application" Description="Application" %>
<%@ Property Name="Namespace" Type="String" Category="Application" Description="Namespace [using Application.*]" %>

<%@ Property Name="Culture" Type="XCodeSmith.Cultures" Category="Context" Description="Culture for Plural Rules" %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Database" Description="Table" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%
if (SourceTable.PrimaryKey == null) {
    throw new ApplicationException("SourceTable does not contain a primary key.");
}
      
string tableName = TableName(SourceTable.FullName);
string className = ClassName(SourceTable.FullName, Culture);
string objectName = ObjectName(SourceTable.FullName, Culture);

string pkUrl = ""; // Property1=String(data.Property1), Property2=String(data.Property2), ...
foreach (ColumnSchema column in SourceTable.PrimaryKey.MemberColumns) {
    pkUrl += (pkUrl == "" ? "" : " + \"&") + PropertyName(column.Name) + "=\" + String(data." + PropertyName(column.Name) + ")";
}
%>
@model LookupModel

@*
    @(Model.ValueId)_LookupButton
    @(Model.ValueId)_LookupText
    @(Model.ValueId)_LookupModal
        @(Model.ValueId)_LookupLabel
        @(Model.ValueId)_LookupGrid
            actionFailure_@(Model.ValueId)_LookupGrid()
            load_@(Model.ValueId)_LookupGrid()
            rowSelected_@(Model.ValueId)_LookupGrid()
*@

@{
    string CSHTML = "_<%= className %>Lookup.cshtml";
}

<div class="@AppDefaults.CssClassLookup">
    <span class="input-group-addon z-lookupButton"><img id="@(Model.ValueId)_LookupButton" class="z-buttonLookup" /></span>
    @Html.TextBox(Model.ValueId + "_LookupText", Model.Text, new { @class = @AppDefaults.CssClassEditorLookup })
</div>

<div id="@(Model.ValueId)_LookupModal" aria-labelledby="@(Model.ValueId)_LookupLabel" class="modal fade col-md-10" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="@PresentationResources.Cancel" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 id="@(Model.ValueId)_LookupLabel" class="modal-title">@<%= className %>Resources.EntityPlural</h4>
            </div>
            <div class="modal-body">

                @(Html.EJ().Grid<<%= className %>>(Model.ValueId + "_LookupGrid")
                    //.Datasource(datasource => datasource
                    //    .Adaptor(AdaptorType.UrlAdaptor)
                    //    .URL(Url.Action("DataSource", "<%= className %>"))
                    //)
                    .Query(Model.Query)
                    .AllowFiltering()
                    .AllowPaging()
                    .AllowReordering()
                    //.AllowResizeToFit()
                    .AllowResizing()
                    //.AllowScrolling()
                    .AllowSearching()
                    .AllowSorting()
                    .AllowTextWrap()
                    .TextWrapSettings(wrap =>
                    {
                        wrap.WrapMode(WrapMode.Both);
                    })
                    .ClientSideEvents(clientEvent => clientEvent
                        .ActionFailure("actionFailure_" + Model.ValueId + "_LookupGrid")
                        .Load("load_" + Model.ValueId + "_LookupGrid")
                        .RowSelected("rowSelected_" + Model.ValueId + "_LookupGrid")                       
                        .ToolbarClick("toolbarClick_" + Model.ValueId + "_LookupGrid")
                    )
                    .Columns(column =>
                    {
<%  int visibles = 0;
    string visible = "true";
    foreach (ColumnSchema column in SourceTable.Columns) {
        bool columnIsPrimaryKey = column.IsPrimaryKeyMember;
        bool columnIsForeignKey = column.IsForeignKeyMember;
        bool columnIsIdentity = IsIdentity(column);
        bool columnIsNullable = column.AllowDBNull;
        
        if (columnIsPrimaryKey) {
            if (SourceTable.PrimaryKey.MemberColumns.Count == SourceTable.Columns.Count) {
                visible = "true";
            } else {            
                visible = "false";
            }
        } else if (columnIsForeignKey) {
            visible = "false";
        } else if (visibles >= 1) {
            visible = "false";
        } else {
            visibles++;
            visible = "true";
        }
        %>
                        column.Field("<%= PropertyName(column.Name) %>")<%
        if (columnIsIdentity) { %>
                            .AllowEditing(false)<%
        }
        if (IsBoolean(column.DataType)) { %>
                            .Type("boolean")
                            .EditType(EditingType.Boolean)<%
        } else if (IsDate(column.DataType)) { %>
                            .Type("date")
                            .EditType(EditingType.Datepicker)
                            .Format(SyncfusionPatternResources.GridFormat_Date)<%
        } else if (IsTime(column.DataType)) { %>
                            .Type("datetime")
                            .EditType(EditingType.DateTimePicker)
                            .Format(SyncfusionPatternResources.GridFormat_Time)<%
        } else if (IsDateTime(column.DataType)) { %>
                            .Type("datetime")
                            .EditType(EditingType.DateTimePicker)
                            .Format(SyncfusionPatternResources.GridFormat_DateTime)<%
        } else if (IsDecimal(column.DataType) || IsFloat(column.DataType) || IsInteger(column.DataType)) { %>
                            .Type("number")
                            .EditType(EditingType.Numeric)<%
            if (IsDecimal(column.DataType) || IsFloat(column.DataType)) { %>
                            .Format(SyncfusionPatternResources.GridFormat_Float)<%
            } else { %>
                            .Format(SyncfusionPatternResources.GridFormat_Integer)<%
            }
        } else { %>
                            .Type("string")
                            .EditType(EditingType.String)<%
        } %>
                            .HeaderText(<%= className %>Resources.Property<%= PropertyName(column.Name) %>)<%
        if (columnIsIdentity) { %>
                            .IsIdentity(true)<%
        }
        if (columnIsPrimaryKey) { %>
                            .IsPrimaryKey(true)<%
        }
        if (IsDecimal(column.DataType) || IsFloat(column.DataType) || IsInteger(column.DataType)) { %>
                            .TextAlign(TextAlign.Right)<%
        } %>
                            .Visible(<%= className %>.Profile.IsGridVisibleFor("<%= PropertyName(column.Name) %>"))
                            .Width(<%= className %>.Profile.GridWidthFor("<%= PropertyName(column.Name) %>"))
                            .Add();
<%      if (column.IsForeignKeyMember) {
            foreach (TableKeySchema fkTable in SourceTable.ForeignKeys) {
                if (fkTable.ForeignKeyMemberColumns[0].Name == column.Name) { %>
                        column.Field("<%= ClassName(fkTable.PrimaryKeyTable.FullName, Culture) %>LookupText")
                            .AllowEditing(false)
                            .Type("string")
                            .HeaderText(<%= ClassName(fkTable.PrimaryKeyTable.FullName, Culture) %>Resources.EntitySingular)
                            .Visible(<%= className %>.Profile.IsGridVisibleFor("<%= ClassName(fkTable.PrimaryKeyTable.FullName, Culture) %>LookupText"))
                            .Width(<%= className %>.Profile.GridWidthFor("<%= ClassName(fkTable.PrimaryKeyTable.FullName, Culture) %>LookupText"))
                            .Add();
<%              }
            }
        }
    } %>    
                    })
                    //.EnablePersistence()
                    .IsResponsive()
                    .FilterSettings(filter => filter
                        .EnableCaseSensitivity(false)
                        .FilterType(FilterType.Excel)
                        .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
                    )
                    .PageSettings(page => page
                        .PageSize(AppDefaults.SyncfusionRecordsByPage)
                    )
                    .ShowColumnChooser()
                    .ToolbarSettings(toolbar => toolbar
                        .CustomToolbarItems(new List<object>() {
                            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#" + Model.ValueId + "_LookupGrid_Toolbar" }
                        })
                        .ShowToolbar()
                        .ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.Search);
                        })
                    )
                )

                <div class="z-formButtons">
                    @Html.ZImage("Button_Clear", "btn z-buttonClear", PresentationResources.Clear, "clear_" + Model.ValueId + "()")
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/x-jsrender" id="@(Model.ValueId)_LookupGrid_Toolbar">
    <div id="@(Model.ValueId)_LookupGrid_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
</script>

<script>
    $(function () {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(<%= className %>.Profile));

            $("#@Model.ValueId").hide();

            $("#@(Model.ValueId)_LookupButton").click(function () {
                zGridDataSource("@(Model.ValueId + "_LookupGrid")", "@Url.Action("DataSource", "<%= className %>")", true);

                $("#@(Model.ValueId)_LookupGrid_@(Model.ValueId)_LookupGrid_Toolbar").removeAttr("data-content");

                $("#@(Model.ValueId)_LookupModal").modal("show");
            });

            $("#@(Model.ValueId)_LookupText").prop("readonly", true);
            $("#@(Model.ValueId)_LookupText").val(model.Text.toLocaleString("@CultureInfo.CurrentCulture.Name"));

            $("#@(Model.ValueId)_LookupModal").modal("hide");

            $("#@(Model.ValueId)_LookupGrid_@(Model.ValueId)_LookupGrid_Toolbar").removeAttr("data-content");

            @*
            var ejGrid = zGrid("@(Model.ValueId)_LookupGrid");
            zOnLookupView(model, profile, ejGrid);
            *@
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });

    function actionFailure_@(Model.ValueId)_LookupGrid(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_@(Model.ValueId)_LookupGrid", exception));
        }
    }    

    function clear_@(Model.ValueId)() {
        try {
            $("#@(Model.ValueId)").val("").change();

            $("#@(Model.ValueId)_LookupText").val("").change();

            $("#@(Model.ValueId)_LookupModal").modal("hide");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "clear_@(Model.ValueId)", exception));
        }
    }

    function load_@(Model.ValueId)_LookupGrid(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(<%= className %>.Profile));
            zOnLookupView(model, profile, this);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_@(Model.ValueId)_LookupGrid", exception));
        }
    }

    function rowSelected_@(Model.ValueId)_LookupGrid(args) {
        try {
            var data = this.model.currentViewData[args.rowIndex];
    
            $("#@(Model.ValueId)").val(data.<%= PropertyName(SourceTable.PrimaryKey.MemberColumns[0].Name) %>).change();
    
            $("#@(Model.ValueId)_LookupText").val(data.LookupText).change();

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            zLookupElements(data, model.Elements, culture);
    
            $("#@(Model.ValueId)_LookupModal").modal("hide");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "rowSelected_@(Model.ValueId)_LookupGrid", exception));
        }
    }

    function toolbarClick_@(Model.ValueId)_LookupGrid(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = zGrid("@(Model.ValueId)_LookupGrid");

            if (toolbar.prop("id") == "@(Model.ValueId)_LookupGrid_Toolbar_Refresh") {
                ejGrid.refreshContent();
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_@(Model.ValueId)_LookupGrid", exception));
        }
    }
</script>