<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\CodeSmithHelper.cs" Inherits="XCodeSmith.CodeSmithHelper" Debug="False" Description="" %>

<%@ Property Name="Application" Type="String" Category="Application" Description="Application" %>
<%@ Property Name="Namespace" Type="String" Category="Application" Description="Namespace [using Application.*]" %>

<%@ Property Name="Culture" Type="XCodeSmith.Cultures" Category="Context" Description="Culture for Plural Rules" %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Database" Description="Table" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%
if (SourceTable.PrimaryKey == null) {
    throw new ApplicationException("SourceTable does not contain a primary key.");
}
      
string tableName = TableName(SourceTable.FullName);
string className = ClassName(SourceTable.FullName, Culture);
string objectName = ObjectName(SourceTable.FullName, Culture);

// !?! Master-Detail Views using relationships with more then 1 property are RARE, so I will use just 1 property !?!
ColumnSchema keyColumn = SourceTable.PrimaryKey.MemberColumns[0];
string keyProperty = PropertyName(keyColumn.Name);
%>
@model <%= className %>ItemModel

@{
    string CSHTML = "_<%= className %>Item.cshtml";
<%  foreach (TableKeySchema fkTable in SourceTable.ForeignKeys) {
        string pkClassName = ClassName(fkTable.PrimaryKeyTable.FullName, Culture); %>    
    string <%= ObjectName(pkClassName, Culture) %>Text = Model.<%= className %> == null ? "" : (Model.<%= className %>.<%= pkClassName %>LookupText ?? "");
<%  }

    int image = 0;
    foreach (ColumnSchema column in SourceTable.Columns) {
        if (IsImage(column)) {
            string propertyName = PropertyName(column.Name); 
            if (image++ > 0) { %>
            
<%          } %>            
    string <%= objectName %>_<%= propertyName %>_Base64 = Convert.ToBase64String(new byte[] {});
    if (Model.<%= className %> != null && Model.<%= className %>.<%= propertyName %> != null)
    {
        <%= objectName %>_<%= propertyName %>_Base64 = Convert.ToBase64String(Model.<%= className %>.<%= propertyName %>);
    }
    string <%= objectName %>_<%= propertyName %>_Source = string.Format("data:image/jpg;base64,{0}", <%= objectName %>_<%= propertyName %>_Base64);        
<%      }
    } %>
}

<div id="Item_<%= className %>">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction, new { id = "<%= className %>_Item_ControllerAction" })
    @Html.ZHiddenFor(model => model.IsReadOnly, "<%= className %>_Item_IsReadOnly")
    @Html.ZHiddenFor(model => model.IsSave, "<%= className %>_Item_IsSave")
<%      foreach (TableKeySchema fkTable in SourceTable.ForeignKeys) {
            string fkClassName = ClassName(fkTable.ForeignKeyTable.FullName, Culture);
            ColumnSchema fkColumn = fkTable.ForeignKeyMemberColumns[0];
            string fkPropertyName = PropertyName(fkColumn.Name);
                
            string pkClassName = ClassName(fkTable.PrimaryKeyTable.FullName, Culture);
            ColumnSchema pkColumn = fkTable.PrimaryKeyMemberColumns[0];
            string pkPropertyName = PropertyName(pkColumn.Name);
            pkPropertyName = pkPropertyName == className ? pkPropertyName + fkPropertyName : pkPropertyName; %>
    @Html.HiddenFor(model => model.Master<%= fkPropertyName %>, new { id = "<%= className %>_Item_Master<%= fkPropertyName %>" })
<%      } %>

    @{Html.EJ().Tab("Tab_<%= className %>")
        .ClientSideEvents(clientEvent => clientEvent
            .ItemActive("itemActive_Tab_<%= className %>")
        )
        //.EnablePersistence()
        .Items(data =>
        {
            data.Add().ID("TabSheet_<%= className %>_<%= className %>").Text(<%= className %>Resources.EntitySingular).ContentTemplate(@<div class="@AppDefaults.CssClassPanel">
<%      foreach (ColumnSchema column in SourceTable.Columns) {
            string propertyName = PropertyName(column.Name); 
            string cssClassLabel = column.AllowDBNull ? "CssClassLabel" : "CssClassLabelRequired"; %>
                
<%          if (column.IsForeignKeyMember) {
                string fkClassName = ClassName(FKTableName(SourceTable, column), Culture);
                string fkObjectName = ObjectName(fkClassName, Culture); %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= fkClassName %>LookupText")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    @Html.EditorFor(model => model.<%= className %>.<%= propertyName %>, new { htmlAttributes = new { @class = AppDefaults.CssClassEditor, id = "<%= className %>_<%= propertyName %>" } })
                    @{
                        Html.RenderAction("Lookup", "<%= fkClassName %>", new
                        {
                            Text = <%= fkObjectName %>Text,
                            ValueId = "<%= className %>_<%= propertyName %>"
                        });
                    }
<%          } else if (IsDate(column.DataType)) { %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= propertyName %>")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    @* @Html.EditorFor(model => model.<%= className %>.<%= propertyName %>, new { htmlAttributes = new { @class = AppDefaults.CssClassEditor, id = "<%= className %>_<%= propertyName %>" } }) *@
                    @Html.EJ().DatePickerFor(model => model.<%= className %>.<%= propertyName %>, AppHelper.DateModel, new { id = "<%= className %>_<%= propertyName %>" })
<%          } else if (IsDateTime(column.DataType)) { %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= propertyName %>")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    @* @Html.EditorFor(model => model.<%= className %>.<%= propertyName %>, new { htmlAttributes = new { @class = AppDefaults.CssClassEditor, id = "<%= className %>_<%= propertyName %>" } }) *@
                    @Html.EJ().DateTimePickerFor(model => model.<%= className %>.<%= propertyName %>, AppHelper.DateTimeModel, new { id = "<%= className %>_<%= propertyName %>" })
<%          } else if (IsImage(column)) { %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= propertyName %>")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    <img src="@<%= objectName %>_<%= propertyName %>_Source" class="z-image" />
<%          } else if (IsBoolean(column.DataType)) { %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= propertyName %>")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    @Html.EditorFor(model => model.<%= className %>.<%= propertyName %>, new { htmlAttributes = new { @class = AppDefaults.CssClassEditor, id = "<%= className %>_<%= propertyName %>" } })
<%          } else { %>
                <div id="Group_<%= className %>_<%= propertyName %>" class="@AppDefaults.CssClassGroup @<%= className %>.DataProfile.EditWidthCSSFor("<%= propertyName %>")">
                    @Html.LabelFor(model => model.<%= className %>.<%= propertyName %>, new { @class = AppDefaults.<%= cssClassLabel %> })
                    @Html.EditorFor(model => model.<%= className %>.<%= propertyName %>, new { htmlAttributes = new { @class = AppDefaults.CssClassEditor, id = "<%= className %>_<%= propertyName %>" } })
<%          } %>
                    @* @Html.ValidationMessageFor(model => model.<%= className %>.<%= propertyName %>, "", new { @class = AppDefaults.CssClassValidator }) *@
                </div>
<%      } %>

            </div>);
<%      foreach (TableKeySchema primaryKey in SourceTable.PrimaryKeys) {
            string pkClassName = ClassName(primaryKey.ForeignKeyTable.Name, Culture);
            int index = 0;
            foreach (ColumnSchema column in primaryKey.PrimaryKeyMemberColumns) {
                string fkPropertyName = PropertyName(column.Name);
                string pkPropertyName = PropertyName(primaryKey.ForeignKeyMemberColumns[index].Name); %>
            data.Add().ID("TabSheet_<%= className %>_<%= Plural(pkClassName, Culture) %>").Text(<%= pkClassName %>Resources.EntityPlural).ContentTemplate(@<div class="@AppDefaults.CssClassPanel">    
                <div id="Ajax_<%= className %>_<%= Plural(pkClassName, Culture) %>"></div>
            </div>);
<%              index++;
            }
        } %>
        })
        .Render();
    }
</div>

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#ZAjax"));

    $(function () {
        try {
            ej.widget.init($("#Item_<%= className %>"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var dataProfile = @Html.Raw(JsonConvert.SerializeObject(<%= className %>.DataProfile));
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();

            var ajaxUrl = "";
<%  foreach (TableKeySchema primaryKey in SourceTable.PrimaryKeys) {
        string pkClassName = ClassName(primaryKey.ForeignKeyTable.Name, Culture);
        int index = 0;
        foreach (ColumnSchema column in primaryKey.PrimaryKeyMemberColumns) {
            string fkPropertyName = PropertyName(column.Name);
            string pkPropertyName = PropertyName(primaryKey.ForeignKeyMemberColumns[index].Name); %>
            if (controllerAction != "create" && zContains(dataProfile.EditCollections, "<%= Plural(pkClassName, Culture) %>")) {
                // <%= Plural(pkClassName, Culture) %>
                zUrlDictionaryWrite("<%= pkClassName %>", "@Context.Request.Url.AbsoluteUri");
                ajaxUrl = "@(Html.Raw(Url.Action("Search", "<%= pkClassName %>", new { MasterControllerAction = Model.ControllerAction, Master<%= pkPropertyName %> = Model.<%= className %>.<%= fkPropertyName %> })))";
                zAjaxLoadSync("Ajax_<%= className %>_<%= Plural(pkClassName, Culture) %>", ajaxUrl);
            }
<%          index++;
        }
    } %>

            if (controllerAction != "create" || dataProfile.Class.IsIdentity) {
<%  foreach (ColumnSchema column in SourceTable.PrimaryKey.MemberColumns) {
        string propertyName = PropertyName(column.Name); %>
                $("#Group_<%= className %>_<%= propertyName %>").hide();
<%  } %>
            }

            // Associations (FK)
<%  foreach (TableKeySchema fkTable in SourceTable.ForeignKeys) {
        string fkClassName = ClassName(fkTable.ForeignKeyTable.FullName, Culture);
        ColumnSchema fkColumn = fkTable.ForeignKeyMemberColumns[0];
        string fkPropertyName = PropertyName(fkColumn.Name);

        string pkClassName = ClassName(fkTable.PrimaryKeyTable.FullName, Culture);
        ColumnSchema pkColumn = fkTable.PrimaryKeyMemberColumns[0];
        string pkPropertyName = PropertyName(pkColumn.Name);
        pkPropertyName = pkPropertyName == className ? pkPropertyName + fkPropertyName : pkPropertyName; %>
            // <%= pkClassName %>
            if (model.Master<%= fkPropertyName %> != null) {
                $("#<%= fkClassName %>_<%= fkPropertyName %>").val(model.Master<%= fkPropertyName %>);
                $("#Group_<%= fkClassName %>_<%= fkPropertyName %>").hide();            
            }
<%  } %>

            zOnItemView(model, dataProfile);        
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });    

    function itemActive_Tab_<%= className %>(args) {
        zTabDictionaryWrite("<%= className %>", args.model.selectedItemIndex);

        try {
<%  if (SourceTable.PrimaryKeys.Count > 0) { %>
            switch(args.model.selectedItemIndex) {
<%      int index = 1;
        foreach (TableKeySchema primaryKey in SourceTable.PrimaryKeys) {    
            string pkClassName = ClassName(primaryKey.ForeignKeyTable.Name, Culture); %>
                case <%= index++.ToString() %>:
                    zGridDataSource("Grid_<%= pkClassName %>", "@Url.Action("DataSource", "<%= pkClassName %>")");
                    break;
<%      } %>
            }
<%  } %>            
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "itemActive_Tab_<%= className %>", exception));
        }
    }
</script>
